.panel-holder {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: absolute;
    background: transparent;
    right: 0;
}

.panel-dat {
    overflow: auto;
}